.interview {
  background-color: white;
}

.question {
  font-weight: bold;
}

.answer {
  text-align: center;
}

.title {
  padding-bottom: 24px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.article-img {
  max-width: 100%;
  margin-bottom: 24px;
  max-height: 700px;
}
