@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,700|Roboto+Slab:300,400,700');
$main-color: black;

html {
  font-family: "Roboto Slab", serif;
}

.example5 .navbar-brand {
  display: flex;
  align-items: center;
}
.example5 .navbar-brand>img {
  padding: 7px 14px;
}

.navbar-text {
  color: pink;
}

.navbar-nav {
  font-family: "Roboto Slab", serif;
}

.navbar-brand {
  font-family: "Roboto Slab", serif;
  color: $main-color;
}

main {
  min-height: 80vh;
}

.text-centered {
    text-align: center;
}
